<p id="notice"><%= notice %></p>

<h1>Product Types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Span</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @product_types.each do |product_type| %>
      <tr>
        <td><%= product_type.name %></td>
        <td><%= product_type.slug %></td>
        <td><%= link_to 'Show', [:admin, product_type] %></td>
        <td><%= link_to 'Edit', edit_admin_product_type_path(product_type) %></td>
        <td><%= link_to 'Destroy', [:admin, product_type], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product Type', new_admin_product_type_path %>
